@page "/palabras"
@using BlazorApp.Shared
@inject HttpClient Http

<h3>Palabras</h3>

@if(palabras == null)
{
    <h4>It's on it's way!</h4>
} else
{
    @foreach(var palabra in palabras)
    {
        <h4>@palabra.SpanishWord</h4>
    }
}

@code {

    //private Palabra palabra;
    IEnumerable<Palabra> palabras;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            palabras = await Http.GetFromJsonAsync<IEnumerable<Palabra>>("/api/GetPalabras");
        } catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }

    }

    protected async Task AddPalabra ()
    {
        try
        {
            await Http.PostAsJsonAsync<Palabra> ("/api/AddPalabra")
        }
    }



}
